services:
  postgres-partition-1:
    image: postgres:17.0
    container_name: event-driven-cqrs-pg1
    env_file:
      - .env.local
    ports:
      - 5434:5432
    volumes:
      - /data/postgres:/data/postgres

  postgres-partition-2:
    image: postgres:17.0
    container_name: event-driven-cqrs-pg2
    env_file:
      - .env.local
    ports:
      - 5435:5432
    volumes:
      - /data/postgres:/data/postgres

  postgres-event-store:
    image: postgres:17.0
    container_name: event-driven-cqrs-event-store-pg
    env_file:
      - .env.local
    ports:
      - 5436:5432
    volumes:
      - /data/postgres:/data/postgres

  kafka:
    image: confluentinc/cp-kafka:5.3.0
    container_name: kafka
    hostname: kafka
    ports:
      - '9091:9091'
    environment:
      KAFKA_ADVERTISED_LISTENERS: LISTENER_DOCKER_INTERNAL://kafka:19091,LISTENER_DOCKER_EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9091
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LISTENER_DOCKER_INTERNAL:PLAINTEXT,LISTENER_DOCKER_EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER_INTERNAL
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  zookeeper:
    image: zookeeper:3.4.9
    hostname: zookeeper
    ports:
      - '2181:2181'
    environment:
      ZOO_MY_ID: 1
      ZOO_PORT: 2181
      ZOO_SERVERS: server.1=zookeeper:2888:3888

  kafdrop:
    image: obsidiandynamics/kafdrop
    container_name: kafdrop
    restart: 'no'
    ports:
      - '9000:9000'
    environment:
      KAFKA_BROKERCONNECT: 'kafka:19091'
    depends_on:
      - kafka

  redis:
    image: redis/redis-stack
    container_name: redis
    env_file:
      - .env.local
    ports:
      - 6380:6379
      - 8001:8001
    volumes:
      - redis-data:/data/redis

volumes:
  redis-data:
